/* Container Styles */
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Button Styles */
.button {
  color: #01357b;
  border-color: #01357b;
}

/* Grid Styles */
.grid-item {
  display: flex;
  align-items: center;
}

/* Image Styles */
.image {
  width: 120px;
  border-radius: 5px;
}

/* Additional Styles */
.hr-line {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

/* Subtitle Styles */
.subtitle1 {
  margin-top: 20px;
}

.subtitle2 {
  margin-top: 5px;
  max-width: 95%;
}
