.container {
  margin-top: 20px;
}

.heading {
  margin-top: 20px;
}

.subtitle {
  margin-top: 20px;
}

.accent-color{
  background: #01357b;
}

.add-button {
  margin-bottom: 15px;
  margin-top: 15px;
  color: #01357b;
  border-color: #01357b;
}

/* Grid Styles */
.grid-item {
  display: flex;
  align-items: center;
}

/* Image Styles */
.image {
  width: 120px;
  border-radius: 5px;
}

/* Snackbar Styles */
.snackbar {
  width: 100%;
}
