.container {
  text-align: center;
}

.grid {
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  padding: 50px 20px;
  border-radius: 10px;
}

.logo {
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading {
  margin-top: 20px;
  color: #01357b;
}

.subtitle {
  margin-top: 5px;
  color: #01357b;
}

.button {
  color: #fff; 
  background-color: #01357b;
  border-radius: '50px';
  padding: '10px 30px';
  margin-top: '40px'
}

.button:hover {
  color: #01357b; 
  background-color: #fff;
}

.text-container {
  margin-top: 40px;
  text-align: left;
}

.text {
  margin-top: 5px;
  color: #01357b;
}

.primary {
  color: #01357b;
}